In [1]:
import math
math.ceil(2.4)

3

**built-in**

In [2]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [3]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(...)
    ceil(x)

    Return the ceiling of x as an Integral.
    This is the smallest integer >= x.

In [4]:
import foo.bar

ModuleNotFoundError: ignored

In [5]:
from foo import bar

ModuleNotFoundError: ignored

In [6]:
__init__.py:

__all__ = ["bar"]

SyntaxError: ignored

In [7]:
print('Hello)

SyntaxError: ignored

**try and except**

In [8]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [9]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    # This will only check for an IOError exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

In [10]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except:
    # This will check for any exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Content written successfully

In [14]:
try:
    f = open('testfile','y')
    f.write('edited code')
except:
    # This will check for any exception and then execute this print statement
   print("Error: Could not find file or read data")
else:
   print("Content written successfully")
   f.close()

Error: Could not find file or read data

**finally**

In [12]:
try:
   f = open("testfile", "w")
   f.write("Test write statement")
finally:
   print("Always execute finally code blocks")

Always execute finally code blocks

In [13]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            
        finally:
            print("Finally, I executed!")
        print(val)

In [15]:
askint()

Please enter an integer: 4
Finally, I executed!
4

In [16]:
# entering string instead of int
askint()

Please enter an integer: d
Looks like you did not enter an integer!
Finally, I executed!

UnboundLocalError: ignored

In [17]:
def askint():
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            val = int(input("Try again-Please enter an integer: "))
        finally:
            print("Finally, I executed!")
        print(val)

In [18]:
askint()

Please enter an integer: 5
Finally, I executed!
5

In [19]:
askint()

Please enter an integer: t
Looks like you did not enter an integer!
Try again-Please enter an integer: 5
Finally, I executed!
5

In [20]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print('Yep thats an integer!')
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [21]:
askint()

Please enter an integer: 4
Yep thats an integer!
Finally, I executed!

In [22]:
askint()

Please enter an integer: g
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 6
Yep thats an integer!
Finally, I executed!

**DATABASE CONNECTIVITY**

In [23]:
import sqlite3
db = sqlite3.connect("my_database1.db")
db.execute("drop table if exists grades1")

db.execute("create table grades1(id int, name text, score int)")

db.execute("insert into grades1(id, name, score) values(101, 'John',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [24]:
db.commit()

In [25]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [26]:
results = db.execute("select * from grades1 where name = 'Gary' ")
for row in results:
    print(row)
print("-" * 60 )

(102, 'Gary', 90)
------------------------------------------------------------

In [27]:
results = db.execute("select * from grades1 where score >= 90 ")
for row in results:
    print(row)
print("-" * 60 )

(101, 'John', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [28]:
results = db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60 )

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [29]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60 )

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [30]:
results = db.execute("select name, score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)

**CREATING ANOTHER TABLE**

In [31]:
db.execute("create table sales(pro_id int, pro_name text, pro_price int, pro_weight int)")

db.execute("insert into sales(pro_id, pro_name, pro_price, pro_weight) values(1, 'sugar', 70, 100 )")
db.execute("insert into sales(pro_id, pro_name, pro_price, pro_weight) values(2, 'salt', 30, 100 )")
db.execute("insert into sales(pro_id, pro_name, pro_price, pro_weight) values(3, 'cardomom', 15, 50 )")
db.execute("insert into sales(pro_id, pro_name, pro_price, pro_weight) values(4, 'chilli', 70, 30 )")

In [32]:
results = db.execute("select pro_name from sales order by pro_price")
for row in results:
    print(row)

('cardomom',)
('salt',)
('sugar',)
('chilli',)

In [33]:
results = db.execute("select * from sales where pro_weight >= 70 ")
for row in results:
    print(row)
print("-" * 60 )

(1, 'sugar', 70, 100)
(2, 'salt', 30, 100)
------------------------------------------------------------